body
{
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	width: 100%;
}

header
{
	padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 24%;
    background-color: #3B444B;
    width: 100%;
}

footer
{
	background-color: white;
	width: 100%;
}

#nombre
{
	font-family: "Roboto-Thin";
	src: url("font/Roboto-Thin.ttf") format("truetype");
	font-weight: 100;
    font-size: 380%;
    height: 74px;
    width: 320px;
    margin-bottom: auto;
	/*background-color: #F2F3F4;*/
	box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.15);

}

#me
{
	font-family: 'Open Sans', sans-serif;
    color: #F2F3F4;
    font-weight: lighter;
    font-style: italic;
    width: 50%;
    height: 78%;
    font-size: 1.80rem;
}


.more
{
	padding-top: 3rem;
	color: white;
	font-weight: lighter;
	font-size: 1.30rem;
}


a
{
	color: #D3D3D3;
	text-decoration: none; 
	border-bottom: 1px dotted #D3D3D3
}

a:visited
{
	color: #D3D3D3;
}

li{list-style-type: none;}

.sone
{
	font-size: 2rem;
	list-style-type: none;
	float: left;
	padding-right: 2rem;
	padding-top: 1rem;
	border-bottom: none;
}

div a:hover
{
	color: #0F0F0F;
}

#twt
{
	padding-right: 0px;
}

.contacto
{
	font-weight: lighter;
	color: black;
	float: left;
	font-size: 2rem;
}

#contacto
{
	border: none;
	font-weight: lighter;
	color: black;
	float: right;
	font-size: 2rem;
	float: left;
    width: 20rem;
    height: 7rem;
}

#contacto:hover
{
    color: white;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

#infinito
{
	float: left;
    padding-top: 1.45rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 3rem;
  }

p .contacto
{
	padding-left: -2rem;
	border-bottom: none;
	list-style-type: none;
}



.nt
{
	border: none;
}




